snippet doc
        //# ${1}
        //
        //${2}
        //
        //\`\`\`
        //\`\`\`

snippet com
	/*------------------------------------*\
	        ${1}
	\*------------------------------------*/

snippet comm
options indent
         /**
          *  ${1}
          */
